@charset "UTF-8";

/* Configurações GERAIS */
@media all {
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.600);
}

/* Aparelho em pé - (Portrait) */
@media screen and (orientation: portrait) {

    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
        }

    }
}

/* Aparelho deitado - (Landscape) */
@media screen and (orientation: landscape) {

    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }

}